@use "tailwindcss";
@use "primeicons/primeicons.css";

body {
  max-height: 100%;
  overflow: clip;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}